.link {
  color: #1bae9f;
  text-decoration: none;
}

.avatar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  background-color: #dfe6ed;
}

.editAvatar {
  margin-left: auto;
  margin-right: auto;
  background-color: #dfe6ed;
}

.details,
.favoritesInput {
  width: 82%;
  margin-left: auto;
  margin-right: auto;
}

.addlibrary {
  position: absolute;
  bottom: 5rem;
  right: 2rem;
  width: 75px;
}

.settings {
  position: absolute;
  bottom: 5rem;
  left: 2rem;
  width: 50px;
}

.delete {
  position: absolute;
  bottom: 5rem;
  right: 2rem;
  width: 30px;
}

@media (min-width: 400px) {
  .details,
  .favoritesInput {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .addlibrary,
  .delete {
    right: 15%;
  }
  .settings {
    left: 15%;
  }
  .details,
  .favoritesInput {
    width: 30%;
  }
}

@media (min-width: 1400px) {
  .addlibrary,
  .delete {
    right: 30%;
  }
  .settings {
    left: 30%;
  }
  .details,
  .favoritesInput {
    width: 20%;
  }
}
