.link {
  color: #1bae9f;
  text-decoration: none;
}

.avatar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  background-color: #dfe6ed;
}

.details,
.favoritesInput {
  width: 82%;
  margin-left: auto;
  margin-right: auto;
}

.addlibrary {
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  width: 75px;
}

@media (min-width: 400px) {
  .details,
  .favoritesInput {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .addlibrary {
    bottom: 3rem;
    right: 15%;
  }
  .details,
  .favoritesInput {
    width: 30%;
  }
}
